@import 'tailwindcss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(9, 9, 11, 0.9) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  background-color: #0b0f1a;
  color: white;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a,
button,
input,
textarea,
select {
  transition:
    box-shadow 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease;
}

:focus-visible {
  outline: 2px solid #c084fc;
  outline-offset: 2px;
}

:root {
  --neon-pink: #ff2ed1;
  --neon-cyan: #00f5ff;
  --neon-purple: #8a00c4;
  --bg-dark: #0b0f1a;
}

/* NEON PURPLE */

.neon-button {
  background-color: var(--neon-purple);
  color: white;
  border-radius: 9999px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;

  /* brilho neon forte */
  box-shadow:
    0 0 5px var(--neon-purple),
    0 0 15px var(--neon-purple),
    0 0 30px var(--neon-purple),
    0 0 60px var(--neon-purple);
}

/* hover → brilho diminui */
.neon-button:hover {
  box-shadow:
    0 0 3px var(--neon-purple),
    0 0 8px var(--neon-purple),
    0 0 15px var(--neon-purple);
}

/* ------- */

.neon-text {
  color: white;

  /* glow elegante */
  text-shadow:
    0 0 10px var(--neon-purple),
    0 0 30px var(--neon-purple);
}

.neon-text:hover {
  text-shadow:
    0 0 8px var(--neon-purple),
    0 0 28px var(--neon-purple);
}

/* ----- */

.neon-outline-button {
  background: transparent;
  border: 3px solid var(--neon-purple);
  color: white;
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover */
.neon-outline-button:hover {
  background: var(--neon-purple);
  color: white;
  box-shadow:
    0 0 10px var(--neon-purple),
    0 0 20px var(--neon-purple),
    0 0 40px var(--neon-purple);
}

/* Hover */

.neon-hover:hover {
  box-shadow:
    0 0 3px var(--neon-purple),
    0 0 8px var(--neon-purple),
    0 0 15px var(--neon-purple);
}
